@import './variables.scss';

.default {
  @extend .paragraph;
  padding: 10px;
  margin: -8px 0;
  color: $grey-0;
  border-radius: 3px;
  border: none;
  border: 1px solid $grey-2;
  background-color: $grey-2;
  outline: 0;

  &:focus,
  &:active {
    border: 1px solid $grey-0;
  }
}