@import './variables.scss';

html {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: $font-primary;
  color: $grey-0;
  background-color: $grey-4;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    padding: 0;
    overflow: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: $grey-4 $grey-0;
    /* scrollbar-color: $grey-4 $color-primary; */

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: $grey-4;
    }

    &::-webkit-scrollbar-thumb {
      /* background-color: $color-primary; */
      background-color: $grey-3;
      border: 3px solid $grey-4;
      border-radius: 20px;
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      option {
        font-size: 1rem;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ol,
    ul {
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-family: var(--font-primary);
    }

    ol,
    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
    }
  }
}