@import './variables.scss';

.title1 {
  font-family: $font-primary;
  font-weight: 700;
  font-size: 1.125rem;
}

.title2 {
  font-family: $font-primary;
  font-weight: 600;
  font-size: 1rem;
}

.headline {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 0.875rem;
}

.headlineBold {
  font-family: $font-primary;
  font-weight: 600;
  font-size: 0.875rem;
}

.paragraph {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1rem;
}

.error {
  font-family: $font-primary;
  font-weight: 300;
  font-size: 0.8125rem;
}