@import '../../../../styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  background-color: $card-1;

  .titleContainer {
    padding: 4px 4px 0 4px;

    .title {
      @extend .title1;
      color: $grey-0;
    }
  }

  .detailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4px;

    .status {
      @extend .headline;
      color: $grey-1;
    }

    .iconsContainer {
      display: flex;
      align-items: center;

      .editButton,
      .deleteButton {
        @extend .icons;
      }

      .icon {
        height: 20px;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .detailsContainer {
    display: flex;
    gap: 20px;
  }
}