@import '../../../../styles/index.scss';

.container {
  @extend .modalContainer;

  .header {
    @extend .modalHeader;

    .title {
      @extend .title1;
      color: $grey-0;
    }

    .closeBtnContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 15px;
      border-radius: 8px;
      background-color: transparent;

      &:hover {
        cursor: pointer;
        background-color: $grey-1;
      }
    }
  }

  .main {
    @extend .modalMain;

    .formContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 0 auto;
      width: 100%;
      padding: 30px;
      border-radius: 3px;
      background-color: $grey-3;

      .input {
        @extend .default;
      }

      .buttonPrimary {
        @extend .btn-primary;
        width: 100%;

        &:disabled {
          @extend .btn-primary-negative;
          cursor: not-allowed;
          width: 100%;
        }
      }
    }
  }
}