@import '../../styles/index.scss';

.header {
  width: 100%;

  /* border: 2px dashed white; */
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;

  /* border: 2px dashed yellow; */
}

.imgContainer {
  /* border: 2px dashed deepskyblue; */
}

.buttonHeader {
  @extend .btn-disabled;
}

@media screen and (min-width: 600px) {
  .header {
    width: 800px;
    margin: 0 auto;
  }
}