@import '../../styles/index.scss';

.header {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  width: 100%;
  padding: 60px 40px 20px 40px;

  .logo {
    @extend .logo;
  }

  @media screen and (min-width: 600px) {
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    width: 450px;
    margin: 0 auto;
    padding: 60px 20px 20px 20px;
  }
}

.main {
  padding: 0 20px;

  @media screen and (min-width: 600px) {
    width: 450px;
    margin: 0 auto;
    padding: 0;
  }
}