@import '../../../../styles/index.scss';

.header {
  width: 100%;
  padding: 0 20px;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 10px 20px;

    .logo {
      @extend .logo;
    }

    .buttonHeader {
      @extend .btn-disabled-reverse;
    }
  }
}

@media screen and (min-width: 600px) {
  .header {
    width: 100%;
    margin: 0 auto;

    .container {
      width: 450px;
      margin: 0 auto;
    }
  }
}