@import '../../../styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;

  // border: 1px dashed yellow;

  .errorMessage {
    @extend .error;
    color: $grey-1;
    padding-top: 4px;
    padding-left: 0;
  }
}