@import '../../styles/index.scss';

.container {
  width: 100%;
  border-top: 1px solid $grey-1;
  border-bottom: 1px solid $grey-1;

  .subContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    height: 130px;
    padding: 20px;

    .helloUser {
      @extend .title1;
      color: $grey-0;
    }

    .userModule {
      @extend .headline;
      color: $grey-1;
    }

    @media screen and (min-width: 600px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 800px;
      margin: 0 auto;
    }
  }
}

.inDevelopmentContainer {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 10px;

  .inDevelopmentText {
    @extend .title1;
    color: $grey-0;
  }

  .inDevelopmentSubText {
    @extend .headline;
    color: $grey-0;
  }

  @media screen and (min-width: 600px) {
    width: 800px;
    margin: 0 auto;
  }
}