@import '../../../styles/index.scss';

.header {
  width: 100%;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;

    .logo {
      @extend .logo;
    }

    .buttonHeader {
      @extend .btn-disabled-reverse;
    }

    @media screen and (min-width: 600px) {
      max-width: 800px;
      margin: 0 auto;
      padding: 40px 20px;
    }
  }
}